@charset "utf-8";

.body {
    position: absolute;
    top: 56px;
    display: flex;
}

div, p {
    border-radius: 3px;
}

.flex-1 {
    flex: 1;
}

.p-info {
    font-size: 14px;
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
}